svg {
    width: 100%;
    height:500px;
}

div.body {
    max-width: 1200px;
}

img {
    max-width: 800px;
}

div.btn>p>a>span {
    color: #fff;
}

div.btn>p>a>span:visited {
    color: #fff;
}

div.btn>p{
    margin-bottom: 0;
}
